.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba($black, 0.3);
  backdrop-filter: blur(1px);
  transition: opacity 0.5s;

  &.hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: scale(0);
    }
  }
}

.modal {
   position: relative;
   max-width: 450px;
   width: 90%;
   padding: 60px 30px 30px;
   background-color: $light;
   border-radius: 6px;
   box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
   transform: scale(1);
   overflow-y: scroll;
   margin: 20px auto;
   scroll-behavior: smooth;
   transition: transform 0.5s;

    @media (min-width: 768px) {
      max-width: 730px;
      margin: auto;
      overflow-y: hidden;
    }

     @media (min-width: 568px) and (orientation: landscape) {
       margin: 20px auto;
       overflow-y: scroll;
     }

    @media (min-width: 1024px) {
      margin: auto;
      overflow-y: hidden;
       max-width: 820px;
       width: 100%;
       overflow-y: hidden;
    }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: (768px)) {
      flex-direction: row;
    }
  }

  &__img {
    object-fit: contain;
    height: auto;
    margin: 0 0 20px 0;

    @media (min-width: (768px)) {
      margin: 0 50px 0 0;
    }
  }

  &__content {
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;

    @media (min-width: (768px)) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 16px;
    color: $black;

    @media (min-width: (768px)) {
      margin-bottom: 30px;
    }
  }

  &__info {
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    margin-right: 10px;
  }

  &__close-btn {
    position: absolute;
    padding: 12px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border 0.4s,
      background-color 0.4s;

    &:focus {
      border: 1px solid $secondary;
    }

    &:hover {
      background-color: $bg-dark;

      .modal__close-btn-icon {
        fill: $secondary;
      }
    }

    &:active {
      background-color: $primary;

      .modal__close-btn-icon {
        fill: $light;
      }
    }
  }

  &__close-btn-icon {
    fill: $grey;
    transition: fill 0.4s;
  }
}