.about {
  &__inner {
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: center top;

    @media (min-width: (768px)) {
      display: flex;
      margin-top: 0;
      justify-content: flex-end;
      background-size: 49% auto;
      background-position: left top;
    }
  }

  &__content {
    padding-top: 340px;
    width: 100%;

    @media (min-width: (768px)) {
      padding-top: 0;
      width: 46%;
    }

    @media (min-width: (1024px)) {
      padding-bottom: 100px;
    }

    @media (min-width: (1200px)) {
      padding-bottom: 200px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @media (min-width: (768px)) {
      margin-bottom: 20px;
    }
  }

  &__item {
    padding-left: 27px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 6px;
      left: 0;
      width: 12px;
      height: 12px;
      background-image: url('../images/icons/bullet.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (min-width: (768px)) {
        margin-bottom: 20px;
      }
    }
  }
}