.contact {
  background-color: $bg-dark;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  @media (min-width: (768px)) {
    background-size: contain;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 0;
  }

  &__content {
    padding: 30px;
    max-width: 700px;
    width: 100%;
    background-color: rgba($bg-dark, 0.9);

    @media (min-width: (768px)) {
      padding: 40px;
    }

  }

  &__title {
    font-size: 36px;
    margin-bottom: 30px;

    @media (min-width: (768px)) {
      font-size: 46px;
    }
  }

  &__txt {
    margin-bottom: 20px;

    @media (min-width: (768px)) {
      margin-bottom: 40px;
    }
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;

  @media (min-width: (768px)) {
    flex-direction: row;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    @media (min-width: (578px)) {
      flex-direction: row;
      margin-bottom: 20px;
    }

    @media (min-width: (768px)) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  &__input {
    background-color: transparent;
    border-bottom: 1px solid $secondary;
    padding: 5px 10px;
    color: $secondary;
    max-width: 300px;
    width: 100%;
    font-feature-settings: 'pnum'on,
      'lnum'on;
    transition: background-color 0.4s,
      outline 0.4s, border-color 0.4s;

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (min-width: (578px)) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    &::placeholder {
      color: $secondary;
    }

    &:hover {
      outline: solid 1px $secondary;
      background-color: $light;
    }

    &:focus {
      outline: solid 1px $secondary;
      outline-offset: 4px;

      &.form__input::placeholder {
        opacity: 0;
      }
    }
  }
}