.hero {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $bg;
    margin-bottom: 20px;
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -200px;
  }

  &__content {
    width: 639px;
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    color: $secondary;
    margin-bottom: 20px;
  }

  &__title-first {
    font-size: 65px;
    line-height: 0.8;
  }
  
  &__txt {
    font-size: 30px;
    margin-bottom: 30px;
  }

  &__image {
    height: 60vh;
    bottom: 10px;
  }
  .slick-slide {
    order: 0;
  }

  .slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: $bg;
    border-radius: 50%;
    transform: translateY(5px);
    transition: outline 0.4s,
    background-color 0.4s;

    &__icon {
      fill: $secondary;
      width: 32px;
      height: 32px;
      transition: fill 0.4s;
    }

    &--prev {
      left: 150px;
      transform: translateY(5px) rotate(180deg);
      order: 1;
      margin-right: 20px;
    }

    &--next {
      right: 150px;
      order: 3;
    }

    &:focus {
      outline: solid 1px $secondary;
      outline-offset: 4px;
    }

    &:hover {
      background-color: $secondary;

      .slick-arrow__icon {
        fill: $light;
      }

      &:active {
        background-color: $primary;
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    order: 2;
    margin-right: 20px;

    li {
      &:not(:last-child) {
        padding-right: 16px;
      }

      button {
        padding: 0;
        border-color: transparent;
        font-size: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $secondary;
        transition: background-color 0.4s, outline-offset 1s;

        &:focus {
          outline: solid 2px $accent;
          outline-offset: 5px;
        }

        &:hover {
          background-color: $accent;
          outline: solid 2px $accent;
          outline-offset: 5px;
        }

        &:active {
          background-color: $primary;
        }
      }

      &.slick-active {
        button {
          border-color: $accent;
          background-color: $accent;
        }
      }
    }
  }
}