.price {
  &__container {
    text-align: center;
    padding: 100px 200px;
    background-color: $secondary;
  }

  &__title {
    font-size: 36px;
    text-transform: uppercase;
    color: $light;
    margin-bottom: 20px;
  }

  &__txt {
    max-width: 750px;
    width: 100%;
    color: $light;
    margin-bottom: 40px;
  }

  &__button {
    &:hover {
      background-color: $primary;
    }
  }
}