.services {

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;

    @include minidesk {
      gap: 30px;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 256px;
    width: 100%;

    @include minitablet {
      max-width: 256px;
    }


    @include minidesk {
      width: calc((100% - 3 * 30px) / 4);
    }
  }

  &__img {
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    padding: 20px 10px 30px;
    background-color: $bg-dark;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}